<%= form_for @info , url: info_path do |f| %>
    <% if @info.errors.any? %>
        <div id="errorExplanation">
            <h2><%= pluralize(@info.errors.count, "error") %> prohibited
                this info from being saved:</h2>
            <ul>
                <% @info.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :gender %><br>
    <%= f.select :gender, ['Male', 'Female'] %>
    </p>
    <p>
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday, start_year:1980 %>
    </p>
    <p>
    <%= f.label :location %><br>
    <%= f.text_field :location%>
    </p>

    <p>
    <%= f.label :self_description %><br>
    <%= f.text_area :self_description %>
    </p>

    <p>
    <%= f.submit %>
    </p>
<% end %>
